URxvt.perl-ext-common:      	default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  	google-chrome-stable
URxvt.url-select.underline: 	true
URxvt.matcher.button:   	1
URxvt.keysym.M-u:           	perl:url-select:select_next
URxvt.keysym.M-Escape:      	perl:keyboard-select:activate
URxvt.keysym.M-s:           	perl:keyboard-select:search
URxvt.keysym.C-C:   		perl:clipboard:copy
URxvt.keysym.C-V:   		perl:clipboard:paste
URxvt.keysym.C-A-V:   		perl:clipboard:paste_escaped
URxvt*scrollTtyOutput: 		false
URxvt*scrollWithBuffer: 	true
URxvt*scrollTtyKeypress: 	true
URxvt.scrollstyle: 		plain
URxvt.termName: 		rxvt-unicode
URxvt.font:             	-xos4-terminus-medium-r-normal-*-14-140-72-72-c-80-iso10646-1
URxvt.scrollBar_right: 		true
URxvt.urgentOnBell: 		true
URxvt.iso14755 : 		false
URxvt.iso14755_52: 		false
URxvt.saveLines: 		65535
URxvt.depth: 			16
URxvt.background:		#000000
URxvt.foreground:		#F3F3F3
URxvt.transparent:      	true
URxvt.shading:          	10
*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC
